{% extends "catalog/base.html" %}

{% block title %}<title>Authors</title>{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="d-flex w-100 justify-content-between">
            <h3>Author List</h3>
            {% if perms.catalog.can_mark_returned %}
                <a href="{% url 'author_create'%}" class="btn btn-success">Create new author</a>
            {% endif %}
        </div>
        <hr>
        <div class="row">
            <ul class="list-group col-md-6">
                {% for author in author_list %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <a href="{{ author.get_absolute_url }}">{{ author }}</a> ({{ author.date_of_birth }} - {{ author.date_of_death }})
                        </div>
                        {% if perms.catalog.can_mark_returned %}
                            <div>
                                <a href="{% url 'author_update' author.id %}" class="btn btn-warning">Edit</a>
                                <a href="{% url 'author_delete' author.id %}" class="btn btn-danger">Delete</a>
                            </div>
                        {% endif %}
                    </li>
                    {% if forloop.counter|divisibleby:"6" %}
                        </ul>
                        <ul class="list-group col-md-6">
                    {% endif %}
                {% empty %}
                    <li>There are no authors in the library.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}